<!DOCTYPE html>
  <head lang="<%= current_language %>">
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#00854d" />
    <meta name="application-name" content="<%= Redmine::Info.app_name %>" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="<%= Redmine::Info.app_name %>" />

    <meta name="msapplication-TileColor" content="#00854d" />
    <meta name="msapplication-TileImage" content="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/mstile-144x144.png" />
    <meta name="msapplication-config" content="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/browserconfig.xml" />
    <meta name="description" content="Welcome to Friday: your favorite day of the week! Say goodbye to the convoluted workflows and hello to intuitive, efficient, and no-nonsense project and product management. Friday works the way you do—cutting through the chaos and delivering a streamlined, developer-first experience. It’s as flexible as your code and as reliable as your coffee. With Friday, every day feels like a win—except maybe actual Monday!" />
    <meta name="ogTitle" content="<%= Redmine::Info.app_name %>" />
    <meta name="ogDescription" content="Welcome to Friday: your favorite day of the week! Say goodbye to the convoluted workflows and hello to intuitive, efficient, and no-nonsense project and product management. Friday works the way you do—cutting through the chaos and delivering a streamlined, developer-first experience. It’s as flexible as your code and as reliable as your coffee. With Friday, every day feels like a win—except maybe actual Monday!" />
    <% if ENV['VITE_BASE_URL'].present? %>
      <meta name="ogImage" content="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2732x2048.png" />
    <% else %>
      <meta name="ogImage" content="<%= "#{Setting.send(:protocol)}://#{Setting.send(:host_name)}" %>/plugin_assets/friday/apple-touch-startup-image-2732x2048.png" />
    <% end %>
    <meta name="ogUrl" content="<%= "#{Setting.send(:protocol)}://#{Setting.send(:host_name)}" %>" />
    <meta name="twitterTitle" content="<%= Redmine::Info.app_name %>" />
    <meta name="twitterDescription" content="Welcome to Friday: your favorite day of the week! Say goodbye to the convoluted workflows and hello to intuitive, efficient, and no-nonsense project and product management. Friday works the way you do—cutting through the chaos and delivering a streamlined, developer-first experience. It’s as flexible as your code and as reliable as your coffee. With Friday, every day feels like a win—except maybe actual Monday!" />
    <% if ENV['VITE_BASE_URL'].present? %>
      <meta name="twitterImage" content="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2732x2048.png" />
    <% else %>
      <meta name="twitterImage" content="<%= "#{Setting.send(:protocol)}://#{Setting.send(:host_name)}" %>/plugin_assets/friday/apple-touch-startup-image-2732x2048.png" />
    <% end %>
    <meta name="twitterCard" content="summary" />

    <title><%= html_title %></title>
    <meta name="description" content="<%= Redmine::Info.app_name %>" />
    <meta name="keywords" content="issue,bug,tracker" />
    <%= csrf_meta_tag %>
    <%= action_cable_meta_tag %>
    <% unless ENV['VITE_BASE_URL'].present? %>
    <link rel="stylesheet" href="/plugin_assets/friday/stylesheets/friday.css">
    <% end %>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/favicon.ico" />
    <link rel="icon" type="image/png" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/favicon-48x48.png" />

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-icon-1024x1024.png" />

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- Apple Touch Startup Images -->
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-640x1136.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1136x640.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-750x1334.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1334x750.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1125x2436.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2436x1125.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1170x2532.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2532x1170.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-828x1792.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1792x828.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1242x2688.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2688x1242.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1242x2208.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2208x1242.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1284x2778.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2778x1284.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1536x2048.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2048x1536.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1620x2160.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2160x1620.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1668x2388.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2388x1668.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-1668x2224.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2224x1668.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2048x2732.png" />
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/apple-touch-startup-image-2732x2048.png" />
  </head>
  <body>
    <div id="friday-app"></div>
    <% if ENV['VITE_BASE_URL'].present? %>
      <script type="module" src="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/@vite/client"></script>
      <script type="module" src="<%= ENV['VITE_BASE_URL'] %>/plugin_assets/friday/assets/javascripts/friday.ts"></script>
    <% else %>
    <script type="module" src="/plugin_assets/friday/javascripts/friday.js"></script>
    <% end %>
  </body>
</html>