<!DOCTYPE html>
  <head lang="<%= current_language %>">
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name=HandheldFriendly content="true">
    <title><%= html_title %></title>
    <meta name="description" content="<%= Redmine::Info.app_name %>" />
    <meta name="keywords" content="issue,bug,tracker" />
    <%= csrf_meta_tag %>
    <%= favicon %>
    <link rel="stylesheet" href="/plugin_assets/greenmine/stylesheets/greenmine.css">
  </head>
  <body>
    <div id="greenmine-app"></div>
    <script type="module" src="/plugin_assets/greenmine/javascripts/greenmine.js"></script>
  </body>
</html>